body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    margin-left: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

/* .auth-buttons .btn-outline,
.auth-buttons .btn-primary {
    border: none;
    padding: 10px 20px;
    cursor: pointer;
} */

.btn-outline {
    background: transparent;
    border: 2px solid #333;
    color: #333;
}

/* .btn-primary {
    background: #007bff;
    color: white;
} */

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background: linear-gradient(to right, #e3f2fd, white);
    height: 50vh;
}

.hero-content {
    max-width: 50%;
}

.hero h1 {
    font-size: 36px;
}

.hero .highlight {
    color: #28a745;
}

.hero .btn-success {
    background: #28a745;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
}

.hero-image img {
    max-width: 100%;
    height: auto;
}

.features {
    text-align: center;
    padding: 30px;
    background-color: #007bff;
    color: white;
    font-size: 18px;
}

.sign{
    margin-right: 50px;
}

.title{
    margin-top: 10px;
}
.learn{
    height: 180vh;
    background-color: #EEFFFD;
    /* display: flex; */
}

.more{
    width: 400px;
    height: 500px;
  
    position: absolute;
    display: flex;
    margin-top: -500px;
    margin-left: 800px;

    justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
}
.photo{
    margin-left: 250px;
}

.track{
    width: 400px;
    height: 500px;
  
    position: absolute;
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    margin-left: 300px;
}

.photo2{
    margin-left: 850px;
}

/* .footer{
    height: 40vh;
    background-color: gainsboro;
} */


.footer {
    /* background: #fff; */
    background-color: ghostwhite;
    text-align: center;
    padding: 20px;
    box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.1);
    height: 30vh;
    /* font-size: 32px; */
}
.footer a {
    color: #666;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
}
.footer a:hover {
    text-decoration: underline;
}
.footer p {
    color: #666;
    font-size: 20px;
    margin-top: 10px;
}
.divider {
    width: 80%;
    margin: 10px auto;
    border-top: 1px solid #ccc;
}

.member{
    line-height: 0.5;
    margin-left: 30px;
}
